@import "tailwindcss";

:root{
  --ink:#1A1918;
  --ink-soft:#252321;
  --ivory:#F2EEE6;
  --ivory-dim:#E4DECF;
  --gold:#C9A66B;
}

body{
  background: var(--ink);
  color: var(--ivory);
  font-family: var(--font-body), sans-serif;
}

.font-display{
  font-family: var(--font-display), serif;
}
html {
  scroll-behavior: smooth;
}
